[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
notebook = "*"
v = {editable = true,version = "*"}
autopep8 = "*"

[packages]
matplotlib = "*"
numpy = "*"
sklearn = "*"

[requires]
python_version = "3.7"
